<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mall.sls">


    <!-- Normal Permissions-start -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- 获取网络状态信息 -->
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 支持iBeancon 需要蓝牙权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 访问网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- Normal Permissions-end -->


    <!-- Dangerous Permissions-star -->
    <!-- group:android.permission-group.CONTACTS -->
<!--    <uses-permission android:name="android.permission.READ_CONTACTS" />-->
    <!-- group:android.permission-group.PHONE -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
<!--    <uses-permission android:name="android.permission.CALL_PHONE" />-->
<!--    <uses-permission android:name="android.permission.READ_CALL_LOG" />-->
<!--    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />-->
    <!-- group:android.permission-group.CAMERA -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- group:android.permission-group.LOCATION -->
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- group:android.permission-group.STORAGE -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- group:android.permission-group.MICROPHONE -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- Dangerous Permissions-end -->

    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup">
        <meta-data android:name="android.webkit.WebView.EnableSafeBrowsing"
            android:value="true"/>
        <service
            android:name=".service.GeTuiService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service
            android:name=".service.GeTuiPushService"
            android:exported="true"
            android:label="PushService"
            android:process=":pushservice" />


        <!--高德地图-->
        <service android:name="com.amap.api.location.APSService"></service>
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="59bf99a8a9cd821eeee125b2b4bec71e" />

        <!--联通电信授权页-->
        <activity
            android:name="com.mobile.auth.gatewayauth.LoginAuthActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="behind"
            android:theme="@style/authsdk_activity_dialog" />
        <!--协议页面webview-->
        <activity
            android:name="com.mobile.auth.gatewayauth.activity.AuthWebVeiwActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="behind" />
        <!--移动授权页-->
        <activity
            android:name="com.cmic.sso.sdk.activity.LoginAuthActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="behind"
            android:theme="@style/authsdk_activity_dialog" />

        <!--微信授权页-->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" />
        <activity
            android:name=".splash.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="nosensor"
            android:theme="@style/FullTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
<!--                <data android:scheme="ccapp" android:host="jp.app" android:pathPrefix="/openwith"/>-->
                <data
                    android:scheme="talkingdata.466b709d82c84bed8f948e46d5f5755d"
                    android:host="token"
                    >
                </data>
            </intent-filter>
        </activity>

        <activity
            android:name=".mainframe.ui.MainFrameActivity"
            android:launchMode="singleTask"
            android:screenOrientation="nosensor"
            android:configChanges="uiMode">
        </activity>

        <activity
            android:name=".login.ui.LoginActivity"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".login.ui.WeixinLoginActivity"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor"
            android:windowSoftInputMode="adjustPan"
            android:configChanges="uiMode"/>
        <activity
            android:name=".certify.ui.CerifyTipActivity"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".certify.ui.CerifyPayActivity"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".certify.ui.UploadIdActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".certify.ui.StartVerifyActivity"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".webview.ui.WebViewActivity"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".certify.ui.CerifyResultActivity"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".login.ui.BindPhoneActivity"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".assemble.ui.AssembleHomeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".address.ui.SelectAddressActivity"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".address.ui.AddAddressActivity"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".address.ui.AddressManageActivity"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".homepage.ui.OrdinaryGoodsDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".homepage.ui.SelectSpecActivity"
            android:launchMode="singleTop"
            android:theme="@style/TranslucentFullScreenTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".homepage.ui.ConfirmOrderActivity"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".homepage.ui.SelectPayTypeActivity"
            android:launchMode="singleTop"
            android:theme="@style/TranslucentFullScreenTheme" />
        <activity
            android:name=".mine.ui.SettingActivity"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".order.ui.GoodsOrderActivity"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".mine.ui.MyTeamActivity"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".order.ui.GoodsOrderDetailsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".order.ui.DeliveryinfoActivity"
            android:launchMode="singleTop"
            android:theme="@style/TranslucentFullScreenTheme" />
        <activity
            android:name=".coupon.ui.CouponActivity"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".member.ui.SuperMemberActivity"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".coupon.ui.SelectCouponActivity"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".mine.ui.CustomerServiceActivity"
            android:launchMode="singleTop"
            android:theme="@style/TranslucentFullScreenTheme" />
        <activity
            android:name=".homepage.ui.ActivityGroupGoodsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor"
          />
        <activity
            android:name=".homepage.ui.ActivityGoodsDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".homepage.ui.FillRemarksActivity"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".homepage.ui.BackTipActivity"
            android:launchMode="singleTop"
            android:theme="@style/TranslucentFullScreenTheme" />
        <activity
            android:name=".certify.ui.NameVerifiedActivity"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".member.ui.MemberDescriptionActivity"
            android:launchMode="singleTop"
            android:theme="@style/TranslucentFullScreenTheme" />
        <activity
            android:name=".mine.ui.MyInvitationActivity"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".message.ui.MessageTypeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".message.ui.OrderMessageActivity"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".message.ui.ReminderMessageActivity"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".homepage.ui.SpellingReminderActivity"
            android:launchMode="singleTop"
            android:theme="@style/TranslucentFullScreenTheme" />
        <activity
            android:name=".homepage.ui.SuccessfulOrderActivity"
            android:launchMode="singleTop"
            android:theme="@style/TranslucentFullScreenTheme" />
        <activity
            android:name=".homepage.ui.AloneGroupActivity"
            android:launchMode="singleTop"
            android:theme="@style/TranslucentFullScreenTheme" />
        <activity
            android:name=".homepage.ui.ManyGroupActivity"
            android:launchMode="singleTop"
            android:theme="@style/TranslucentFullScreenTheme" />
        <activity
            android:name=".homepage.ui.CityNotOpenActivity"
            android:launchMode="singleTop"
            android:theme="@style/TranslucentFullScreenTheme" />
        <activity
            android:name=".login.ui.FillCodeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor" />
        <activity android:name=".homepage.ui.WXGoodsDetailsActivity"
            android:screenOrientation="nosensor"
            android:launchMode="singleTop"/>
        <activity android:name=".homepage.ui.WXShareBackActivity"
            android:screenOrientation="nosensor"
            android:launchMode="singleTop"/>
        <activity android:name=".mine.ui.InviteFriendsActivity"
            android:screenOrientation="nosensor"/>
        <activity android:name=".mine.ui.SelectShareTypeActivity"
            android:launchMode="singleTop"
            android:theme="@style/TranslucentFullScreenTheme"/>
        <activity android:name=".mine.ui.FeedBackActivity"
            android:screenOrientation="nosensor"
            android:launchMode="singleTop"/>
        <activity android:name=".homepage.ui.CommonTipActivity"
            android:launchMode="singleTop"
            android:theme="@style/TranslucentFullScreenTheme"/>
        <activity android:name=".address.ui.CityPickerActivity"
            android:screenOrientation="nosensor"
            android:launchMode="singleTop"
            android:theme="@style/DefaultCityPickerTheme"/>
        <activity android:name=".login.ui.PhoneLoginActivity"
            android:screenOrientation="nosensor"
            android:launchMode="singleTop"/>
        <activity android:name=".login.ui.LoginFillCodeActivity"
            android:screenOrientation="nosensor"
            android:launchMode="singleTop"/>
        <activity android:name=".lottery.ui.LotteryListActivity"
            android:screenOrientation="nosensor"
            android:launchMode="singleTop"/>
        <activity android:name=".lottery.ui.LotteryDetailActivity"
            android:screenOrientation="nosensor"
            android:launchMode="singleTop"/>
        <activity android:name=".lottery.ui.SelectQuantityActivity"
            android:launchMode="singleTop"
            android:theme="@style/TranslucentFullScreenTheme"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".lottery.ui.LotteryResultActivity"
            android:screenOrientation="nosensor"
            android:launchMode="singleTop"/>
        <activity android:name=".homepage.ui.TitleContentActivity"
            android:launchMode="singleTop"
            android:theme="@style/TranslucentFullScreenTheme"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".lottery.ui.LotteryRecordActivity"
            android:screenOrientation="nosensor"
            android:launchMode="singleTop"/>
        <activity android:name=".mine.ui.PrivacyPolicyTipActivity"
            android:theme="@style/TranslucentFullScreenTheme"/>
        <activity android:name=".lottery.ui.LotteryTipActivity"
            android:launchMode="singleTop"
            android:theme="@style/TranslucentFullScreenTheme" />
        <activity android:name=".order.ui.RefundProgressActivity"
            android:screenOrientation="nosensor"
            android:launchMode="singleTop"/>
        <activity android:name=".mine.ui.AboutAppActivity"
            android:screenOrientation="nosensor"
            android:launchMode="singleTop"/>
        <activity android:name=".webview.ui.LandingPageActivity"
            android:screenOrientation="nosensor"
            android:launchMode="singleTop"/>
        <activity
            android:name=".homepage.ui.GeneralGoodsDetailsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor" />

        <activity android:name=".homepage.ui.CartConfirmOrderActivity"
            android:screenOrientation="nosensor"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan" />

        <activity android:name=".homepage.ui.CartPaySuccessActivity"
            android:screenOrientation="nosensor"
            android:launchMode="singleTop"/>

        <activity android:name=".order.ui.ViewLogisticsActivity"
            android:screenOrientation="nosensor"
            android:launchMode="singleTop"/>

        <activity android:name=".coupon.ui.HomeCouponActivity"
            android:screenOrientation="nosensor"
            android:launchMode="singleTop"
            android:theme="@style/TranslucentFullScreenTheme"/>

        <activity android:name=".sort.ui.CategoryGoodsActivity"
            android:screenOrientation="nosensor"
            android:launchMode="singleTop"/>

        <activity android:name=".sort.ui.SearchGoodsActivity"
            android:screenOrientation="nosensor"
            android:launchMode="singleTop"/>
        
        <activity android:name=".local.ui.LocalTeamActivity"
            android:screenOrientation="nosensor"
            android:launchMode="singleTop"/>

        <activity android:name=".mainframe.ui.ScanActivity"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor"/>
        <activity android:name=".bank.ui.BankCardManageActivity"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor"/>
        <activity android:name=".bank.ui.UntieBankCardActivity"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor"/>
        <activity android:name=".bank.ui.AddBankCardActivity"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor"/>
        <activity android:name=".bank.ui.PhoneTipActivity"
            android:screenOrientation="nosensor"
            android:launchMode="singleTop"
            android:theme="@style/TranslucentFullScreenTheme"/>
        <activity android:name=".bank.ui.AuthenticationActivity"
            android:screenOrientation="nosensor"
            android:launchMode="singleTop"/>
        <activity android:name=".bank.ui.OperationResultActivity"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor"/>
        <activity android:name=".bank.ui.BankCardPayActivity"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor"
            android:theme="@style/TranslucentFullScreenTheme"/>
        <activity android:name=".bank.ui.ReceiveCodeTipActivity"
            android:screenOrientation="nosensor"
            android:launchMode="singleTop"
            android:theme="@style/TranslucentFullScreenTheme"/>
        <activity android:name=".bank.ui.SelectBankCardActivity"
            android:screenOrientation="nosensor"
            android:launchMode="singleTop"
            android:theme="@style/TranslucentFullScreenTheme"/>
        <activity android:name=".bank.ui.BankPayResultActivity"
            android:screenOrientation="nosensor"
            android:launchMode="singleTop"/>
        <activity android:name=".bank.ui.BankTipActivity"
            android:screenOrientation="nosensor"
            android:launchMode="singleTop"
            android:theme="@style/TranslucentFullScreenTheme"/>
        <activity android:name=".homepage.ui.CartBoxActivity"
            android:screenOrientation="nosensor"
            android:launchMode="singleTop"
            android:theme="@style/TranslucentFullScreenTheme"/>
    </application>

</manifest>